
    <div>
         <ul>
        
        <li style="float: right;"><a href="http://localhost:3000/users/logout">Logout</a></li> 
        <li id="user"><a href="http://localhost:3000/users/profile">{{user.email}}</a></li>
        <li style="float: right;"><a href="http://localhost:3000/tasks">Tasks</a></li> 
        </ul>  
    </div>