<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style.css">
    <title>User</title>
</head>
<body>
    {{>navbar}}
    {{>user}}
<div>
     <form id="userForm" action="/users/profile/update" method="post">
    <input type="text" name="name" class="username"placeholder="name" required>
    <input type="text" name="age" class="userage" placeholder="age" value="{{user.age}}"">
    <button>update user</button>
    </form>
</div>

   
</div>   
</body>
</html>